# Ignores TypeScript files, but keeps definitions.
*.ts
!*.d.ts
.idea
.prettierrc.json
jest.config.js
.gitignore
tsconfig.json
verdaccio.yaml
coverage
actions
.github
renovate.json
src/utility/testing
